<app-encabezado></app-encabezado>

<div id="divformuario">
  <form class="form-signin" id="formulario" (submit)="getDatos($event)">
    <div class="input-group mb-3" id="registros">
      <div class="input-group-prepend">
        <label for="inputRegistros" class="input-group-text">Registros Universitarios</label>
      </div>
      <select name="registro" id="inputRegistros" [(ngModel)]="registros" class="custom-select" (change)="onchange($event.target.value)">
        <option *ngFor = "let r of l_registros | keyvalue" value="{{r.value['REGISTRO_UNIVERSITARIO']}}">{{r.value['REGISTRO_UNIVERSITARIO']}}</option>
      </select>
    </div>

    <div class="input-group mb-3" id="roles">
      <div class="input-group-prepend">
        <label for="inputRoles" class="input-group-text">Roles</label>
      </div>
      <select name="roles" id="inputRoles" [(ngModel)] = "roles" class="custom-select">
        <option *ngFor = "let rol of l_roles | keyvalue" value="{{rol.value['ID_ROL']}}">{{rol.value['NOMBRE_ROL']}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning btn-lg btn-block">
      <img src="assets/icons/search-solid.svg" height="25px" width="25px">
    </button>
  </form>
</div>

<div id="divformulario1">
  <form class="form-signin" id="formulario1" (submit)="setDatos($event)">
    <div class="mx-auto" style="width: 200px;" id="div2">
      <h1 class="h3 mb-3 font-weight-normal">Modificar usuario</h1>
  </div>
  <br>
  <img src="192.168.1.9:4200/assets/{{foto}}" width="200px" height="200px" id="inputFoto">
  <br>
  <label for="inputApellido">Nombre:</label>
  <input type="text" autocomplete="off" [(ngModel)]="nombre" name="apellido" id="inputApellido" class="form-control" placeholder="Nombre" required #referencia2>
  <label for="inputPassword">Password:</label>
  <input type="text" [(ngModel)]="pass" name="pass" id="inputPassword" class="form-control" required>
  <label for="inputEmail">Correo Electronico:</label>
  <input type="email" autocomplete="off" [(ngModel)]="correo" name="correo" id="inputEmail" class="form-control" placeholder="Email" required #referencia3>
  <label for="inputPhone">Telefono:</label>
  <input type="tel" autocomplete="off" name="tele" [(ngModel)]="tele" id="inputPhone" class="form-control" placeholder="Telefono" required #referencia4>
  <br>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="subirarchivos">Subir imagen</span>
    </div>
    <div class="custom-file">
      <input type="file" accept="image/*" name="archivo" [(ngModel)]="archivo" class="custom-file-input" id="subirarchivoimagen" aria-describedby="subirarchivos" (change)="onFileSelected($event)">
      <label for="subirarchivoimagen" class="custom-file-label" id="lsubirimagen">Escoger foto de perfil</label>
    </div>
  </div>
  <br>
  
  <button type="submit" class="btn btn-lg btn-primary btn-block" data-toogle="tooltip" data-html="true">Modificar Cuenta</button>
  </form>
</div>

<app-pie></app-pie>