<app-encabezado></app-encabezado>
<div id="div1">
  <form id="formulario1" (submit)="deletec()" class="form-signin">
      <div class="input-group mb-3" id="registros">
          <div class="input-group-prepend">
            <label for="inputFacultades" class="input-group-text">Facultades</label>
          </div>
          <select name="registro" id="inputFacultades" [(ngModel)]="registros" class="custom-select" (change)="onchange($event.target.value)">
            <option *ngFor = "let r of l_facultades | keyvalue" value="{{r.value['ID_FACULTAD']}}">{{r.value['NOMBRE_FACULTAD']}}</option>
          </select>
        </div>
        <div class="input-group mb-3" id="carreras">
          <div class="input-group-prepend">
            <label for="inputCarrera" class="input-group-text">Carreras</label>
          </div>
          <select name="carrera" id="inputCarrera" [(ngModel)]="carreras" class="custom-select">
            <option *ngFor = "let c of l_carreras | keyvalue" value="{{c.value['ID_CARRERA']}}">{{c.value['NOMBRE_CARRERA']}}</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-danger btn-lg btn-block"><img src="assets/icons/trash-alt-solid.svg" height="25px" width="25px"></button>
  </form>
</div>
<app-pie></app-pie>